$primary: #BEE7FF;
$secondary: #38B6FF;
$white: #FFFF;
$gray: #EFEFEF;
$paddingDef: 1rem;

.container{
  margin: auto;
  width: 90%;
}


.width100{
  width: 100%;
}

.search{
  border: $secondary 1px solid;
  border-radius: 20rem;
}

.item{
  margin: 2rem 0;
}

.buttonContainer{
  display: flex;
  justify-content: center;
}
